body {
  background-color: #001529;
}

.btn .full-width {
  width: 100%;
}

.full-width {
  width: 100%;
}

.ant-card .ant-card-bordered {
  height: 100%;
}

.selectable-card {
  cursor: pointer;
}

.ant-card-bordered .selectable-card .selected-card {
  border: 3px solid green;
  font-size: 100px;
}
